---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "portfolio"
;

@font-face {
    font-family: 'natasharegular';
    src: url('/assets/fonts/natasha/natasha-webfont.eot');
    src: url('/assets/fonts/natasha/natasha-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/natasha/natasha-webfont.woff2') format('woff2'),
         url('/assets/fonts/natasha/natasha-webfont.woff') format('woff'),
         url('/assets/fonts/natasha/natasha-webfont.ttf') format('truetype'),
         url('/assets/fonts/natasha/natasha-webfont.svg#natasharegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1 {
	font-family: natasharegular;
	letter-spacing: -0.1em;
}
.site-header {
	background-color: $darkblue;
	background: $darkblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($darkblue, $otherblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($darkblue, $otherblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($darkblue, $otherblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient($darkblue, $otherblue); /* Standard syntax */
	h1 {
		color: white;
		font-size: 7vw;
		text-align:center;
		/* line-height:0.5em; */
		small {
			color:white;
			letter-spacing: 1em;
			font-size:2vw
		}
	}
	border-color:$lighterblue;
	border-bottom:10px solid $lighterblue;
	border-top: none;
}
h1.page-heading {
	font-size:3vw;
	color: $darkblue;
	padding-bottom:5px;
	border-bottom:1px solid $lighterblue;

}
p {
	font-size:20px;
}
.lightblue {
	color: $lighterblue	
}
a {
	font-weight: bold;
}
footer {
	background-color:#444;
	border-top: 10px solid #ddd;
	color:#ddd;
}

@include media-query($on-laptop) {
    h1.page-heading {
		font-size:5vw;
	}
}