@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css";


$darkblue: #00003f;
$otherblue: #00006b;
$lighterblue: #2ab6d4;

